<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      Vet-Vet
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {{#if home}}active{{/if}}" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if appointments}}active{{/if}}" href="/appointments">Citas Medicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if services}}active{{/if}}" href="/services">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if products}}active{{/if}}" href="/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if contact}}active{{/if}}" href="/contact">Contactanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if profile}}active{{/if}}" href="/profile">Perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>