<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="row">
      <div class="col">
        <h1>Baño y Peluquería</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>
          No solo mantengas a tus peluditos limpios con nosotros, sino que tambien aprovecha
          nuestro servicio de peluquería. Gatos y perros de todos los tamaños
          y de todos los tipos de pelo son bienvenidos.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1>Precios</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <table class="table table-striped border">
          <thead>
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Pequeño</th>
              <th scope="col">Mediano</th>
              <th scope="col">Grande</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Básico</th>
              <td>$50.000</td>
              <td>$70.000</td>
              <td>$90.000</td>
            </tr>
            <tr>
              <th scope="row">Medio</th>
              <td>$70.000</td>
              <td>$95.000</td>
              <td>$120.000</td>
            </tr>
            <tr>
              <th scope="row">Premium</th>
              <td>$90.000</td>
              <td>$115.000</td>
              <td>$150.000</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <a href="#" class="btn btn-primary text-wrap" role="button" data-bs-toggle="button">Agenda Aqui</a>
      </div>
    </div>


  </div>

  <div class="col-md-6 col-sm-12">
    <img class="img-fluid d-none d-sm-block d-sm-none d-md-block" src="./img/baño2.png" alt="" width="500" height="500">
  </div>

</div>

<div class="row mt-5">

  <div class="col-md-6 col-sm-12">

    <img class="img-fluid d-none d-sm-block d-sm-none d-md-block" src="./img/Guarderia.png" alt="" width="500"
      height="500">

  </div>

  <div class="col-md-6 col-sm-12">
    <h1>Guardería</h1>

    <p class="mt-4">¿No tienes donde dejar y quien cuide a tu peludito? No te preocupes. Nosotros prestamos el servicio
      de guardería para todos los perritos y gatitos mientras disfrutas de tus vacaciones ó trabajas.
    </p>

    <h1>Precios</h1>

    <table class="table table-striped border mt-4">
      <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Pequeño</th>
          <th scope="col">Mediano</th>
          <th scope="col">Grande</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Básico</th>
          <td>$30.000</td>
          <td>$50.000</td>
          <td>$70.000</td>
        </tr>
        <tr>
          <th scope="row">Medio</th>
          <td>$50.000</td>
          <td>$75.000</td>
          <td>$115.000</td>
        </tr>
        <tr>
          <th scope="row">Premium</th>
          <td>$80.000</td>
          <td>$120.000</td>
          <td>$140.000</td>
        </tr>
      </tbody>
    </table>

    <a href="#" class="btn btn-primary col-md-6 col-sm-2 text-wrap" role="button" data-bs-toggle="button">Agenda
      Aqui</a>

  </div>

</div>