<h1>Perfil</h1>

    <div class="row border ">
        {{!-- Menú --}}
        <div class="col-md-4 col-sm-12 bg-primary">

                    <div class="d-grid col-6 gap-5 mx-auto">
                        <button class="btn btn-secondary my-2" type="button">Mi información</button>
                        <button class="btn btn-secondary" type="button">Mascotas registradas</button>
                        <button class="btn btn-secondary" type="button">Agendar citas</button>
                        <button class="btn btn-secondary" type="button">Historial servicios</button>
                    </div>

        </div>

        <div class="col-md-8 col-sm-12 bg-secondary">
            <div class="row">
                <div class="col-6">
                    {{!-- Formulario --}}
                        <h4>Registro de mascotas</h4>
                    <form>
                        <div class="mb-3">
                            <label for="inputNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="inputNombre" placeholder="Lala">
                        </div>
                        <div class="mb-3">
                            <label for="inputEdad" class="form-label">Edad años</label>
                            <input type="text" class="form-control" id="inputEdad" placeholder="3 años">
                        </div>
                        <div class="mb-3">
                            <label for="inputTipo" class="form-label">Tipo</label>
                            <input type="text" class="form-control" id="inputTipo" placeholder="Gato,Perro"> 
                        </div>
                        <div class="mb-3">
                            <label for="inputRaza" class="form-label">Raza</label>
                            <input type="text" class="form-control" id="inputRaza" placeholder="Labrador">
                        </div>
                        <div class="mb-3">
                            <label for="inputTamano" class="form-label">Tamaño</label>
                            <input type="text" class="form-control" id="inputTamano" placeholder="pequeño,mediano,grande"> 
                        </div>
                        <div class="mb-3">
                            <label for="inputPeso" class="form-label">Peso</label>
                            <input type="text" class="form-control" id="inputPeso" placeholder="10 Kg">
                        </div>
                            <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col">

                            <table class="table table-striped border">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Raza</th>
                                    <th scope="col">Edad</th>
                                    <th scope="col">Peso</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <th scope="row">1</th>
                                    <td>Lala</td>
                                    <td>Labrador</td>
                                    <td>5 años</td>
                                    <td>35 Kg</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">2</th>
                                    <td>Mateo</td>
                                    <td>Pitbull</td>
                                    <td>4 años</td>
                                    <td>25 Kg</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">3</th>
                                    <td >Pepe</td>
                                    <td>Persa</td>
                                    <td>1 año</td>
                                    <td>10 Kg</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>   
