<header class="main-header h-100">
  <div class="background-overlay text-white">
    <div class="row d-flex h-100 mx-0">
      <div class="col-12 text-center justify-content-center align-self-center">
        <div class="container-fluid">
          <h1>Juntos cuidamos la salud<br>de tu mascota</h1>
        </div>
      </div>
    </div>
  </div>
</header>